@import '../Valiables/Valiables.scss';
@import './partials/colors';

* {
  margin: 0;
  padding: 0;
}

.navbar {
  box-sizing: border-box;
  width: 100%;
  padding: 25px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $lightBlueColor;
  color: $whiteColor;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.363);

  .logo {
    display: flex;
    cursor: pointer;

    h1 {
      font-weight: 800;
      font-size: 30px;
      font-family: $titleFont;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: $whiteColor;
    font-family: $titleFont;
    font-size: 15px;

    @media (max-width: 750px) {
      display: none;
    }

    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      list-style-type: none;
      text-decoration: none;

      .arrowUp {
        display: flex;
      }

      .arrowDown {
        transform: rotate(180deg);
      }

      .newPageRotate {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        position: absolute;
        top: 50px;
        background-color: $lightBlueColor;
        padding: 30px;
        border-radius: 10px;
        z-index: 1000;

        .link {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          list-style-type: none;
          text-decoration: none;
          list-style: none;
          color: aliceblue;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .notification-panel {
    position: relative;
    li {
      list-style: none;
    }
    .dropdown-menu {
      display: flex;
      height: auto;
      max-height: 70vh;
      overflow-y: scroll;
      flex-direction: column;
      gap: 1px;
      border-radius: 10px 10px 0px 0px;
      position: absolute;
      top: 60px;
      width: 300px;
      background-color: #fff;
      color: black;
      left: -120px;
      z-index: 999;
      padding: 5px 0;
      .notification-title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #0d6efd;
        padding: 10px 15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
          border: 2px solid rgba(128, 128, 128, 0.41);
          padding: 2px 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.5s;
          color: gray;

          &:hover {
            background-color: rgba(128, 128, 128, 0.154);
            transition: 0.5s;
          }
        }
      }
      .notification-card {
        background-color: $green-ligtest-bg-color;
        padding: 10px;
        font-weight: 900;
        text-decoration: underline;
        cursor: pointer;
        &:hover {
          background-color: green;
          text-decoration: underline;
        }
      }

      .notification-card2 {
        background-color: rgba(230, 247, 235, 0.616);
        padding: 10px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .searchIcon {
    display: none;
    cursor: pointer;
    position: relative;

    .search2 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: $lightBlueColor;
      align-items: center;
      border: 1px solid $lightBlueColor;
      gap: 5px;
      border-radius: 20px;
      box-sizing: border-box;
      overflow: hidden;
      position: absolute;
      top: 52px;
      left: -100px;
      color: $whiteColor;
    }

    @media (max-width: 550px) {
      display: block;
    }

    .searchIcn {
      margin-left: 5px;
    }

    input {
      border: none;
      background-color: rgba(240, 248, 255, 0);
      outline: none;
      padding: 8px;
      color: $whiteColor;
    }

    button {
      border: none;
      background-color: rgba(240, 248, 255, 0.216);
      padding: 8px;
      color: $whiteColor;
    }
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    gap: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;

    @media (max-width: 550px) {
      display: none;
    }

    .searchIcn {
      margin-left: 5px;
    }

    input {
      border: none;
      background-color: rgba(240, 248, 255, 0);
      outline: none;
      padding: 8px;
      color: $whiteColor;
    }

    button {
      border: none;
      background-color: rgba(240, 248, 255, 0.216);
      padding: 8px;
      color: $whiteColor;
    }
  }

  .leftList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;

    .profile {
      padding: 0;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
      z-index: 1000;

      .newProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        position: absolute;
        top: 55px;
        right: 0px;
        background-color: $lightBlueColor;
        padding: 30px;
        border-radius: 10px;

        li {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          list-style-type: none;
          text-decoration: none;
          list-style: none;
          color: aliceblue;

          &:hover {
            text-decoration: underline;
          }
        }

        .welcome-name {
          display: flex;
          flex-direction: row;
          gap: 10px;
          color: black;

          .name {
            font-weight: bold;
          }
        }

        hr {
          width: 100%;
          background-color: #000;
          color: #000;
        }

        .logoutButton {
          border: none;
          padding: 10px;
          background-color: transparent;
          color: red;
          border-radius: 10px;
          cursor: pointer;
        }

        .Plink {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          list-style-type: none;
          text-decoration: none;
          list-style: none;
          color: aliceblue;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .MenuBar {
      display: none;
      font-size: 30px;
      cursor: pointer;

      @media (max-width: 750px) {
        display: block;
      }
    }
  }

  .NavSideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 85px;
    left: 10px;
    background-color: $lightBlueColor;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;

    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $titleFont;
      font-size: 17px;

      &:hover {
        color: rgba(240, 248, 255, 0.881);
      }

      .arrowLeft {
        display: flex;
      }

      .arrowRight {
        transform: rotate(180deg);
      }
    }
  }

  .newNavSideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    top: 120px;
    left: 170px;
    background-color: $lightBlueColor;
    padding: 30px;
    border-radius: 10px;
    z-index: 1000;

    .link {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      list-style-type: none;
      text-decoration: none;
      list-style: none;
      color: aliceblue;

      &:hover {
        text-decoration: underline;
      }

      li {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $titleFont;
        font-size: 17px;

        &:hover {
          color: rgba(240, 248, 255, 0.754);
        }
      }
    }

    li {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $titleFont;
      font-size: 17px;

      &:hover {
        color: rgba(240, 248, 255, 0.754);
      }
    }
  }
}
