.checkout {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
.checkout .checkoutNav {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 200px;
  background-color: #fea500;
  font-weight: 600;
  font-size: 25px;
  font-family: 'Baloo Tamma 2', cursive;
}
@media (max-width: 600px) {
  .checkout .checkoutNav {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 100px;
  }
}
.checkout .checkoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0px 20px;
}
.checkout .checkoutForm {
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px -10px;
}
@media (max-width: 600px) {
  .checkout .checkoutForm {
    width: 100%;
    box-sizing: border-box;
  }
}
.checkout .checkoutForm .basicInfo {
  border-radius: 10px 10px 0px 0px;
  padding: 15px 10px;
  border: 2px solid rgba(28, 28, 28, 0.686);
  background-color: #131921;
  color: #f9f8f9;
  display: flex;
  justify-content: space-around;
}
.checkout .checkoutForm .basicInfo h1 {
  font-size: 25px;
  font-weight: 500;
}
.checkout .checkoutForm .basicInfo .option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.checkout .checkoutForm .basicInfo .option h1 {
  font-size: 20px;
  font-weight: 500;
}
.checkout .checkoutForm .basicInfo .option p {
  font-size: 25px;
  font-weight: 500;
}
.checkout .checkoutForm .formDiv {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid rgba(28, 28, 28, 0.686);
  padding: 20px;
}
.checkout .checkoutForm .formDiv form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 70px;
  box-sizing: border-box;
  padding: 10px 30px;
}
.checkout .checkoutForm .formDiv form .formDivRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout .checkoutForm .formDiv form .formDivRight label {
  font-size: 17px;
  color: rgba(28, 28, 28, 0.686);
}
.checkout .checkoutForm .formDiv form .formDivRight input {
  font-size: 15px;
  border: 2px solid rgba(28, 28, 28, 0.686);
  width: 200px;
  border-radius: 5px;
  padding: 7px 20px;
}
.checkout .checkoutForm .formDiv form .formDivLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout .checkoutForm .formDiv form .formDivLeft label {
  font-size: 17px;
  color: rgba(28, 28, 28, 0.686);
}
.checkout .checkoutForm .formDiv form .formDivLeft input {
  font-size: 15px;
  border: 2px solid rgba(28, 28, 28, 0.686);
  width: 200px;
  border-radius: 5px;
  padding: 7px 20px;
}
.checkout .checkoutForm .formDiv form .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkout .checkoutForm .formDiv .buttonDiv {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 10px;
}
.checkout .checkoutForm .formDiv .buttonDiv button {
  padding: 10px 25px;
  border: none;
  background-color: #131921;
  color: #f9f8f9;
  border-radius: 5px;
  cursor: pointer;
}
.checkout .table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.checkout .table table {
  box-shadow: 0 5px 20px -10px;
}
.checkout .table table .tableHeadRow {
  padding: 10px;
  box-shadow: 5px 2px 10px -10px;
}
.checkout .table table .tableHeadRow .tableHeader {
  padding: 10px;
  box-shadow: 5px 2px 10px -10px;
}
.checkout .table table .tableBodyRow {
  padding: 10px;
  box-shadow: 5px 2px 10px -10px;
}
.checkout .table table .tableBodyRow .tableData {
  padding: 10px;
  box-shadow: 5px 2px 10px -10px;
}
.checkout .table table .tableBodyRow .tableGrandTotal {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  width: 220%;
}
.checkout .table button {
  padding: 10px 20px;
  background-color: #fea500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 20px -10px;
  color: #131921;
  font-weight: 900;
}
.checkout .table .orderStatus {
  padding: 10px 20px;
  box-shadow: 0 5px 20px -10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkout .table .orderStatus span {
  font-size: 18px;
  font-weight: bold;
}
.checkout .popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(214, 214, 214, 0.9019607843);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #348be9;
}

.payment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(19, 25, 33, 0.5176470588);
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment .stripeForm {
  background-color: #ffffff;
  padding: 20px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.payment .stripeForm button {
  padding: 8px 25px;
  border: none;
  background-color: #343045;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.payment .stripeForm .cross {
  width: 100%;
  margin-bottom: 10px;
}
.payment .stripeForm .cross .croseIcon {
  cursor: pointer;
}
.payment .stripeForm .paymentContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}
.payment .stripeForm .paymentContainer .paymentHeader {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}
.payment .stripeForm .paymentContainer .paymentHeader .header1 {
  display: flex;
  justify-content: space-between;
}
.payment .stripeForm .paymentContainer .paymentHeader .header1 h1 {
  font-weight: bold;
  color: #5c5756;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}
.payment .stripeForm .paymentContainer .paymentHeader .header3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 40%;
}
.payment .stripeForm .paymentContainer .paymentHeader .header3 h3 {
  font-weight: 500;
  font-size: 15px;
  color: #5c5756;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}
.payment .stripeForm .paymentContainer .paymentHeader .header3 img {
  height: 20px;
}
.payment .stripeForm .paymentContainer .paymentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
}
.payment .stripeForm .paymentContainer .paymentForm .inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "YouTube Noto", Roboto, Arial, Helvetica, sans-serif;
  width: 100%;
}
.payment .stripeForm .paymentContainer .paymentForm .inputContainer label {
  font-weight: 500;
  font-size: 15px;
  color: #5c5756;
}
.payment .stripeForm .paymentContainer .paymentForm .inputContainer input {
  font-size: 14px;
  color: #5c5756;
  padding: 8px 10px;
  border: 1px solid rgba(139, 143, 137, 0.5725490196);
  width: 100%;
  border-radius: 2px;
}
.payment .stripeForm .paymentContainer .paymentForm .inputContainer2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.completionPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.completionPage .completionPageHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.completionPage .completionPageHeader h1 {
  font-size: 40px;
  font-weight: bold;
}
.completionPage .orderStatus {
  padding: 10px 20px;
  box-shadow: 0 5px 20px -10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.completionPage .orderStatus span {
  font-size: 18px;
  font-weight: bold;
}
.completionPage button {
  padding: 10px 15px;
  background-color: #6359fa;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  color: #f9f8f9;
  cursor: pointer;
}
.completionPage button:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=Chechout.css.map */
