@media (max-width: 767px) {
  nav {
    flex-direction: column;
    position: relative;

    .search-area {
      order: 2;
      margin-top: 10px;
      width: 100%;
      max-width: 320px;

      input[type="text"] {
        width: 100%;
      }
    }

    .dropdown {
      display: none;
    }

    .right-navbar {
      display: flex;
      align-items: center;

      .profile {
        margin-top: 10px;
        display: flex;
      }

      .dropdown {
        display: flex;
      }
    }
  }

  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  @media (max-width: 767px) {
    nav {
      .languages,
      .profile {
        margin-left: 20px;
      }

      .right-navbar {
        display: flex;
        align-items: center;
      }
    }
  }

  @media (min-width: 768px) {
    nav {
      .languages,
      .profile {
        margin-left: 20px;
      }

      .right-navbar {
        display: flex;
        align-items: center;
      }
    }
  }
}
