@media (max-width: 767px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  nav .search-area {
    order: 2;
    margin-top: 10px;
    width: 100%;
    max-width: 320px;
  }
  nav .search-area input[type='text'] {
    width: 100%;
  }
  nav .dropdown {
    display: none;
  }
  nav .right-navbar {
    display: flex;
    align-items: center;
  }
  nav .right-navbar .profile {
    margin-top: 10px;
    display: flex;
  }
  nav .right-navbar .dropdown {
    display: flex;
  }
  .menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  nav .languages,
  nav .profile {
    margin-left: 20px;
  }
  nav .right-navbar {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) and (min-width: 768px) {
  nav .languages,
  nav .profile {
    margin-left: 20px;
  }
  nav .right-navbar {
    display: flex;
    align-items: center;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(23, 174, 159);
  padding: 20px;
  color: rgb(241, 241, 241);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.363);
}
nav .logo,
nav .cart {
  font-weight: bold;
  text-transform: uppercase;
}
nav .search-area {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  width: 500px;
}
nav .search-area input[type='text'] {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 14px;
  outline: none;
  border-radius: 4px;
}
nav .search-area .search-button {
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(23, 174, 159);
  font-weight: bold;
  border-radius: 4px;
}
nav .search-area .search-button:hover {
  background-color: #e0e0e0;
}
nav .search-area .search-button:focus {
  outline: none;
}
nav .dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
}
nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(23, 174, 159);
  padding: 10px;
}
nav .dropdown-menu .welcome-name {
  display: flex;
  flex-direction: row;
  color: black;
}
nav .dropdown-menu .welcome-name .name {
  font-weight: bold;
}
nav .dropdown-menu hr {
  width: 100%;
  background-color: #000;
  color: #000;
}
nav .dropdown-menu .logoutButton {
  border: none;
  padding: 10px;
  background-color: transparent;
  color: red;
  border-radius: 10px;
  cursor: pointer;
}
nav .dropdown-menu a {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 5px;
}
nav .dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .dropdown {
  position: relative;
}
nav .dropdown:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .right-navbar {
  display: flex;
  align-items: center;
}
nav .right-navbar .dropdown {
  margin-right: 10px;
  position: relative;
  width: auto;
}
nav .right-navbar .dropdown .dropdown-toggle {
  cursor: pointer;
}
nav .right-navbar .dropdown .dropdown-toggle:hover {
  text-decoration: underline;
}
nav .right-navbar .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(23, 174, 159);
  padding: 10px;
  min-width: 120px;
  right: 0;
}
nav .right-navbar .dropdown .dropdown-menu a {
  display: block;
  text-decoration: none;
  padding: 5px;
}
nav .right-navbar .dropdown .dropdown-menu a:hover {
  background-color: #008694;
}
nav .right-navbar .dropdown:hover .dropdown-menu {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
nav .right-navbar .cart {
  margin-right: 10px;
  font-weight: bold;
  color: #fff;
}
nav .languages,
nav .profile {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
nav .languages a,
nav .profile a {
  margin-right: 10px;
}
nav .cart {
  margin-left: 10px;
}

/*# sourceMappingURL=Navbar.css.map */
