.user-profile-container {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.user-profile-container .acc-info-title {
  margin: 10px auto;
  text-transform: uppercase;
}
.user-profile-container .view-user-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.user-profile-container .view-user-profile .user-profile-image-container {
  display: flex;
  background-color: rgba(241, 241, 241, 0.763);
  justify-content: space-between;
  border: solid 2px rgba(130, 130, 130, 0.1098039216);
  border-radius: 5px;
  padding: 10px;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .Edit-basic-user-info {
  display: flex;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .user-image {
  display: flex;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .user-image
  .profile-image {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 50%;
  object-fit: cover;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .message-join {
  display: flex;
  justify-content: center;
  background-color: rgba(35, 82, 124, 0.1098039216);
  align-items: center;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .edit-message {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .edit-message
  #edit-icon {
  margin-left: 5px;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .edit-message
  #envelop-icon {
  font-size: 24px;
}
.user-profile-container
  .view-user-profile
  .user-profile-image-container
  .edit-message
  #envelop-icon:hover {
  color: #23527c;
}
.user-profile-container .view-user-profile hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
.user-profile-container .view-user-profile .user-profile-info {
  width: 100%;
}
.user-profile-container .view-user-profile .user-profile-info .user-field {
  margin-bottom: 5px;
  background-color: rgba(241, 241, 241, 0.763);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.user-profile-container .view-user-profile .user-profile-info .user-field label,
.user-profile-container .view-user-profile .user-profile-info .user-field span {
  border-left: 2px solid rgb(23, 133, 122);
  padding-left: 3px;
  margin-left: 5px;
}
.user-profile-container
  .view-user-profile
  .user-profile-info
  .user-field
  label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}
.user-profile-container .view-user-profile .user-profile-info .user-field span {
  margin-top: 2px;
  color: rgb(23, 133, 122);
}
.user-profile-container .view-user-profile .Joined-field {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-profile-container .update-essential-user-info {
  color: rgba(24, 87, 159, 0.784);
  background-color: transparent;
  padding: 10px 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.user-profile-container .update-essential-user-info:hover {
  background-color: rgba(35, 82, 124, 0.1098039216);
}
.user-profile-container .Edit-basic-user-info {
  border-radius: 5px;
  text-decoration: none;
  align-self: flex-start;
  justify-content: end;
  background-color: #fff;
  padding: 5px 30px;
  border-radius: 20px;
  color: black;
  font-size: 18px;
  font-size: bolder;
}
.user-profile-container .Edit-basic-user-info:hover {
  background-color: rgba(9, 116, 105, 0.182);
}
.user-profile-container #calender-icon {
  margin-right: 5px;
}
.user-profile-container #createdAt {
  align-items: center;
  color: rgb(23, 133, 122);
  margin-left: 5px;
}

/*# sourceMappingURL=View-Basic-info.css.map */
